@model tallerbiblioteca.Models.Autor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Autor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="FormularioAutor" onsubmit="sendForm(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreAutor" class="control-label"></label>
                <input asp-for="NombreAutor" class="form-control" />
                <span asp-validation-for="NombreAutor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section Scripts{
        <script>
            function sendForm(e) {
                e.preventDefault();
                Swal.fire({
                    title: 'Quieres crear este autor?',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonText: 'SI'
                }).then((resultado) => {
                    if (resultado.isConfirmed) {
                        const formulario = document.getElementById("formularioAutor")
                        formulario.submit();
                    }
                })
            }
        </script>
    }

@if (ViewData["Autorcreado"] != null && ViewData["Autorcreado"].ToString() == "true")
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Autor Creado Con Exito',
            showConfirmButton: false,
            timer: 1500
        }).then(function () {
            window.location.href = '@Url.Action("Index", "Autor")';
        });
    </script>
}