@using System.Security.Claims;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - tallerbiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     @*
    <link rel="stylesheet" href="~/css/Configuracion.css" asp-append-version="true" />
    *@
    <link rel="stylesheet" href="~/css/catalogo.css" asp-append-version="true" /> 
     <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @*
    <link rel="stylesheet" href="~/css/Calendario.css" asp-append-version="true" />
    
    @* <link rel="stylesheet" href="~/tallerbiblioteca.styles.css" asp-append-version="true" /> *@
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="~/lib/evo-calendar-master/evo-calendar/css/evo-calendar.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
     <script src="https://kit.fontawesome.com/718958d351.js" crossorigin="anonymous"></script>
      <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/5.5.0/locales/es.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
        <style>
    /* Estilos personalizados para los botones */
    .swal2-popup .swal2-actions .swal2-confirm {
     background-color:#14A44D;
      color: #fff; /* Cambia el color del texto del botón Confirmar */
    }
    
    .swal2-popup .swal2-actions .swal2-cancel {
      background-color: #e74c3c; /* Cambia el color de fondo del botón Cancelar */
      color: #fff; /* Cambia el color del texto del botón Cancelar */
    }
  </style>


<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap" rel="stylesheet">
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="hoc clear"> 
    <!-- ################################################################################################ -->
   <div id="logo" class="fl_left row">
        <div class="col-9">
            <h1><a href="index.html">BookWare</a></h1>
        </div>
        <div class="col-3">
                <a class="dropdown ">
                    <a data-bs-toggle="dropdown" aria-expanded="true">
                        <div class="notification">
                            <div class="notification-icon"></div>
                            <div class="notification-badge border border-dark border-3" id="valorCampana"></div>
                        </div>
                    </a>
                    <ul class="dropdown-menu" style="width: 200px;">
                        <li id="notificacionesContainer"></li>
                    </ul>
                </a>
        </div>
    </div>
    
   <div class="fl_right">
        <div class="row">
            <div class="col-10">
                <ul class="nospace inline ">
                    <li><h6 class="ms-5"><strong> @if(User.Identity.IsAuthenticated){
                        @User.Identity.Name;
                        }else{
                        <h6>BookWare</h6>}</strong><br>
                            Rol</h6>
                    </li> 
                </ul> 
            </div>
            <div class="col-2 pt-3">
                <a  data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars fa-2xl"  style="color: #269c2e;">  </i>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Perfil</a></li>
                    @if (User.FindFirst(ClaimTypes.Role)?.Value == "1")
                    {
                        <li><a class="dropdown-item" asp-controller="Rol" asp-action="Index">Roles</a></li>
                        <li><a class="dropdown-item" asp-controller="Configuracion" asp-action="Index">Configuracion</a></li>
                    }
                    <li><hr class="dropdown-divider"></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a class="dropdown-item" asp-controller="Usuarios" asp-action="Logout" onclick="return confirm ('seguro deseas cerrar sesion?');">Cerrar session</a></li>
                    }
                </ul>      
            </div>
        </div>
    </div>
    <!-- ################################################################################################ -->
  </header>
</div>


@* <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Mi Sitio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Libros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Prestamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Reservas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Devoluciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Catálogo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Configuración</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cerrar Sesión</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fas fa-user"></i> Usuario
        </a>
      </li>
    </ul>
  </div>
</nav> *@

@* 
  <nav class="navbar navbar-expand-lg navbar-light bg-light"> 
    <a class="navbar-brand" href="#">Mi Sitio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="">
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Prestamos" asp-action="Calendario">
                <i class="fa-sharp fa-solid fa-house" style="color: #070707;"></i>
                <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Home</span>
            </a>
        </li>
        @if ((User.FindFirst(ClaimTypes.Role)?.Value == "1") || (User.FindFirst(ClaimTypes.Role)?.Value == "3"))
        {             
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Usuarios" asp-action="Index">
                    <i class="fa-solid fa-users fa-xl" style="color: #000000; display: inline-block; vertical-align: middle;"></i>
                    <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">usuarios</span> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Libros" asp-action="Index">   
                    <i class="fa-solid fa-book-open" style="color: #000000;"></i>
                    <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Libros</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Peticiones" asp-action="Index">

                    <i class="fa-solid fa-list" style="color: #000000;"></i>
                    <span class="fw-bold fs-5"  style="display: inline-block; vertical-align: middle;">Peticiones</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">
                        <i class="fa-regular fa-calendar" style="color: #000000;"></i>
                        <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Reservas</span>
                </a>
            </li>
                <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">
                        <i class="fa-solid fa-arrow-rotate-left fa-xs" style="color: #000000;"></i>
                        <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Devoluciones</span>
                </a>
            </li>
                <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">
                        <i class="fa-solid fa-unlock" style="color: #000000;"></i>
                        <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Sanciones</span>
                </a>
            </li>
        }
    </ul>
    </div>
    <!-- ################################################################################################ -->
  </nav>  *@
    
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-secondary  border-bottom box-shadow mb-3 text-Light">
            <div class="container-fluid ms-5">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ms-5">

                    <ul class="navbar-nav flex-grow-1 ms-5">

    
                        <li class="nav-item ms-5">
                            <a class="nav-link text-light" asp-area="" asp-controller="Libros" asp-action="Catalog">
                                  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAABFUlEQVR4nK3UMSuFURzH8cuVUjK4DF6CQZksBgODMlAWdoP1Lu4gvABWGUxSyqy8BZusyigGg0HJwkeH8+jc5xb3Hs93ec751fmep37P86/VugR1jIZnKR9DX7eeVHaGSyxjPOaTeMRKjizwhmlcYRi3MT/pRXaqnTXc4ALz8ZJnDObIAufYi+sjrOMDCzmywAtmkn0zXnCYIytYwl1cv2MVOx1tlwr4jWMcJPtXzGEoRxa4x2Ipe0IjRxbYSoopCOfrObIWNmOz7bL4dhOqkhXgugvZNjZiq+k3OfAjSoS7lckCmKpMVpD86P+XBbBfmaz2LZxNDoY2R/CQZJ1t/iHsj8OylWTFAO1Nlgi+JnEpa/Qi+wSeA7fONMWtEwAAAABJRU5ErkJggg==">
                                  <span  class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Catalogo</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Prestamos" asp-action="Index">
                                 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqklEQVR4nM3VIQrCYBgG4FksBo9gUE+w5k2UJTEZjWaDwQO4Ewg2wQt4id1BBKNJeUSYsOCUbX/whQ/+9PC95f+iqBC00EdccXpF5411cFIv6SdwURMrBbe+J6kKpj/ALDS4+nswCw3GfwleMMc9B6+Y4dFkwzXGGGKEY4jKG7RxaFq5mLPypHVAdcAbdvm7yiRl4CQKFSwxDQl28w92H6Ryjr5OwKDJCXgC1I1FOTug6ZkAAAAASUVORK5CYII=">
                                 <span  class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Prestamos</span>
                            </a>
                        </li>
                        @if ((User.FindFirst(ClaimTypes.Role)?.Value == "1") || (User.FindFirst(ClaimTypes.Role)?.Value == "3"))
                        {
                             <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Prestamos" asp-action="Calendario">
                                 <i class="fa-sharp fa-solid fa-house" style="color: #000000;"></i>
                                 <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Home</span>
                                 </a>
                            </li>
                             
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Usuarios" asp-action="Index">
                                  <i class="fa-solid fa-users fa-xl" style="color: #ffffff; display: inline-block; vertical-align: middle;"></i>
                                 <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">usuarios</span> </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Libros" asp-action="Index">   
                                    <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>
                                    <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Libros</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Peticiones" asp-action="Index">

                                    <i class="fa-solid fa-list" style="color: #ffffff;"></i>
                                    <span class="fw-bold fs-5"  style="display: inline-block; vertical-align: middle;">Peticiones</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">
                                      <i class="fa-regular fa-calendar" style="color: #ffffff;"></i>
                                      <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Reservas</span>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">
                                      <i class="fa-solid fa-arrow-rotate-left fa-xs" style="color: #ffffff;"></i>
                                      <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Devoluciones</span>
                                </a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="" asp-action="">
                                      <i class="fa-solid fa-unlock" style="color: #ffffff;"></i>
                                      <span class="fw-bold fs-5" style="display: inline-block; vertical-align: middle;">Sanciones</span>
                                </a>
                            </li>
                            
                        }
                    </ul>
                </div>
                <div>
                    @if (!User.Identity.IsAuthenticated)
                    {
                       <p><a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Iniciar sesion</a></p>
                    }
                </div>
                
            </div>
        </nav> 
    </header>
    <div class="container mb-1">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - tallerbiblioteca - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    @if (ViewData["Cerrar"]!=null && ViewData["Cerrar"].ToString()=="true")
    {
        <script>
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Cerrando sesión',
                showConfirmButton: false,
                timer: 1500
            }).then(function () {
                window.location.href = '@Url.Action("Login", "Usuarios")';
            });
        </script>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Configuracion.js"> </script>
    <script src="~/js/Usuarios.js"></script>
    <script src="~/js/Libros.js"> </script>
   
    <script src="~/js/EventManager.js"></script>
    

   
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @if (ViewBag.CambiarColor != null && (bool)ViewBag.CambiarColor)
    {
        <script>
            var elemento = document.getElementById("valorCampana");
            elemento.style.color = "red"; // Cambia el color a rojo (puedes usar cualquier color deseado).
        </script>
    }

    @await RenderSectionAsync("Scripts", required: false)

    

</body>
</html>
