@model tallerbiblioteca.Models.Ejemplar

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Ejemplar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label">Libro</label>
                <select asp-for="Id_libro" class ="form-control" asp-items="ViewBag.libros"></select>
                <span asp-validation-for="Id_libro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Isbn_libro" class="control-label"></label>
                <input asp-for="Isbn_libro" class="form-control" />
                <span asp-validation-for="Isbn_libro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="EstadoEjemplar" value="ACTIVO" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <button class="btn mt-2 mb-2" type="submit">Registrar</button>
            </div>
        </form>
    </div>
</div>

<div>
   <a asp-action="Index" class="btnDelete">Regresar</a>
   
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
@if (ViewData["Ejemplarcreado"] != null && ViewData["Ejemplarcreado"].ToString() == "true")
{
    <script>
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Ejemplar Creado Con Exito',
            showConfirmButton: false,
            timer: 1500
        }).then(function () {
            window.location.href = '@Url.Action("Index", "Ejemplar")';
        });
    </script>
}
