@model tallerbiblioteca.Models.Libro

@{
    ViewData["Title"] = "Create";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/js/bootstrap-select.min.js"></script>

<h1>Registrar Libro</h1>

<hr />
<div class="row fw-bold">
    <div class="col-md-4">
        <form asp-action="Create" id="formularioLibros" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="row mt-2  fw-bold">
                <div class="col-6">
                    <div class="form-group">
                        <label for="GeneroIds">Géneros:</label>
                       
                        <select  asp-for="GeneroIds" id="GeneroIds" asp-items="ViewBag.Generos" data-live-search="true" title="Selecciona uno o mas generos"   class="selectpicker "  ></select>
                    </div>
              

                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="AutorIds">Autores:</label>
                        <select  asp-for="AutorIds" id="AutorIds" asp-items="ViewBag.Autores" data-live-search="true" title="Selecciona uno o mas autores" class="selectpicker"></select>
                    </div>
                </div>

               
                <div id="errorGenero"></div>
               
            </div>
           
            @Html.Hidden("CantidadLibros",0)
       
            <div class="form-group mt-2">
                <label asp-for="Descripcion" class="control-label"></label>
              
                <textarea rows="4" cols="50" asp-for="Descripcion" class="form-control"></textarea>

                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="ImagenLibro" class="control-label"></label>
                <input type="file" asp-for="ImagenLibro" name="ImagenLibro" class="form-control" />     
            </div>
            
            <div class="form-group mt-2">
                @* <button class="boton medium" type="submit">Registrar</button> *@
                    <button id="botonRegistrar" class="boton medium" type="submit">Registrar</button>

            </div>
        </form>
    </div>
</div>

<div>
    <button class="mt-2 botonDelete Deletemedium "> <a class="text-light" asp-action="Index">Regresar</a></button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @* <script src="~/js/Libros.js"> </script> *@
    
  
}
