@model tallerbiblioteca.Models.Prestamo

@{
    ViewData["Title"] = "Create";
}

<h1>Registrar prestamo</h1>


<hr />
 @if (ViewBag.PeticionesCount == 0)
        {
            <p class="text-danger fs-3">No hay peticiones disponibles para crear un préstamo.</p>
        }else{
        
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="formulario" onsubmit="sendForm(event)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_peticion" class="control-label"> Usuario </label>
                <select asp-for="Id_peticion" class ="form-select" asp-items="ViewBag.Peticion"></select>
            </div>

            <div class="form-group">
                <label asp-for="Fecha_inicio" class="control-label"></label>
                <input asp-for="Fecha_inicio" class="form-control" />
                <span asp-validation-for="Fecha_inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_fin" class="control-label"></label>
                <input asp-for="Fecha_fin" class="form-control" />
                <span asp-validation-for="Fecha_fin" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Create" class="boton medium" />
            </div>
        </form>
    </div>
</div>
}

<div>
    <a class="botonDelete Deletemedium" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        function sendForm(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Quieres guardar los cambios?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'SI'
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    const formulario = document.getElementById("formulario")
                    formulario.submit();
                }
            })
        }
    </script>
}
