
<div class="row mb-2">
    
<input type="text" id="searchInput" placeholder="Buscar por número de documento o nombre de usuario...">
</div>




<input type="text" id="datePicker" placeholder="Selecciona una fecha por favor">


    <!-- con solo este div permitiremos a js insertar el calendario gracias a la libreria fullcalendar-->
<div id='calendar' class="mt-5 pt-4"></div>
