.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 32px;
}

    .toggle-switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    margin-bottom: 1px;
    padding-top: 1px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 22px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        border-radius: 50%;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #82B440;
}

    input:checked + .slider:before {
        transform: translateX(26px);
    }
