


 a{
    color:#000;
    text-decoration:none;
 }
  /* button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
  
    background-color:#14A44D;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  } */
  .button{
   
      padding: 1em 1em;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 2.5px;
      font-weight: 400;
      color: #000;
      background-color:#14A44D;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
    
  }
  
  button:hover {
    background-color: #b9cac3;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #000000;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }

  .etiqueta {
    background-color: #5cc467; /* Cambia esto al color que desees */
    padding: 4px 8px; /* Ajusta el espaciado como desees */
    border: 1px solid #000; /* Agrega un borde si lo deseas */
    border-radius: 5px; /* Agrega esquinas redondeadas si lo deseas */
    width: 100px;
  }


.notification {
    position: relative;
    display: inline-block;
}

.notification-icon {
    width: 30px;
    height: 30px;
    background: url('/Images/campana.png') no-repeat center;
    background-size: cover;
}

.notification-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
    background-color: rgb(25, 135, 84);
    border-radius: 50%;
    color: #a95a5a;
    font-size: 12px;
    font-weight: bold;
}



#calendar{
  width: 80%;
  position: absolute;
  top: 55%;
  left:50%;
  transform:translate(-50%,-50%) ;
}

  html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    
}

