@model IEnumerable<tallerbiblioteca.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios Inactivos";
}
<h3>Usuarios Inhabilitados Y suspendidos </h3>

 @if (ViewBag.UsuariosInactivos == 0)
        {
            <p class="text-danger fs-3">No hay Usuarios suspendidos o Inhabilitados</p>
        }else{
<div class="row p-2">
    <div class="col-12 border border-3 border-dark">

        <div class="container p-2">
          
            <div class="row mb-2 border-bottom border-dark">
                @foreach(var usuario in Model)
                {
                    <div class="col-4">
                        <p>@usuario.Name @usuario.Apellido</p>
                    </div>
                    <div class="col-4">
                       <p>@usuario.Estado</p>
                    </div>
                    <div class="col-4">
                        <form asp-controller="Usuarios" asp-action="eliminarsan" asp-route-id="@usuario.Id" method="post" onsubmit="sendForm(event)" id="formulario" >
                            <button class="mb-2 boton medium" type ="submit">activar</button>
                        </form>
                    </div>
                }
               
            </div>
        </div>
    </div>
</div>
}

@section Scripts{
    <script>
        function sendForm(e) {
            e.preventDefault();
            Swal.fire({
                title: 'Seguro que deseas habilitar este usuario de nuevo?',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'SI'
            }).then((resultado) => {
                if (resultado.isConfirmed) {
                    const formulario = document.getElementById("formulario")
                    formulario.submit();
                }
            })
        }
    </script>
    }


